@charset 'utf-8';

body{
	font-family: Arial,sans-serif;
}
body,ul,ol,dl,li,dt,dd,p,h1,h2,h3,h4,h5,h6{
	margin: 0;
	padding: 0;
}
ul,ol,dl,li,dt,dd{
	list-style: none;
}
a{
	text-decoration: none;
	color: #333;
}
img{
	display: block;
	border: none;
}